* {
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

html {
   font-family: "Rubik Roman", Rubik;
}

ul {
   padding: 0;
   list-style: none;

}

.flex {
   display: flex;
   justify-content: space-between;
   column-gap: 2.5vw;
}

.wrapper {
   box-sizing: border-box;
   max-width: 1620px;
   margin: 0 auto;
   padding: 0 15px;
}

.tittle p {
   font-size: 24px;
   letter-spacing: 1px;
   color: #121212;
}

.tittle a {
   color: #121212;
   text-decoration: underline;
}

.tittle a:hover {
   text-decoration: none;
}

.buttons a {
   text-decoration: none;
   color: black;
}

#customorder {
   background-color: #3e4145;
   color: #ffffff;
   margin-right: 29px;
   transition: 1.0s;
}

#customorder:hover {
   color: #121212;
   background-color: #e7e7e7;
}

#existinginventory {
   background-color: #e7e7e7;
   color: #121212;
   transition: 1.0s;
}

#existinginventory:hover {
   background-color: #3e4145;
   color: #ffffff;
}

#ordernow {
   background-color: #3e4145;
   color: #ffffff;
}

.button {
   font-size: 18px;
   letter-spacing: 1px;
   display: inline-block;
   text-align: center;
   width: 280px;
   padding: 19px 19px;
   border-radius: 5px;
}


.wrap-header {
   position: relative;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   width: calc(100% - 30px);
   max-width: 1620px;
   padding: 1.5vw 0;
}

.footer a,
.footer li,
.header a {
   text-decoration: none;
   font-size: 18px;
   letter-spacing: 1px;
   color: #121212;
   font-weight: 500;
   text-align: center;
   transition: 0.5s;
}

.header a:hover {
   color: #464647;
   text-decoration: underline;
}

.text-h2 {
   font-size: 60px;
   letter-spacing: 3px;
   color: #121212;
   font-weight: bold;
   font-family: "Rubik Roman", Rubik;
   text-align: center;
}


.model {
   background-position: center;
   height: 100vh;
   background-size: cover;
   padding-top: 9vh;
}

.arrow {
   text-align: center;
}

.arrow a {
   display: inline-block;
   color: #3e4145;
   text-decoration: none;
   margin-top: 20px;
   border-left: 3px solid #3e4145;
   border-bottom: 3px solid #3e4145;
   transform: rotate(-45deg);
   width: 12px;
   height: 12px;
}

.arrow-2 a {
   transform: rotate(135deg);
}

.model .flex {
   flex-direction: column;
   align-items: center;
   min-height: 77vh;
}

.model-3 {
   background-image: url(../images/model-3.png);
}

.model-y {
   background-image: url(../images/model-y.png);
}

.model-s {
   background-image: url(../images/model-s.png);
}

.model-x {
   background-image: url(../images/model-x.png);
}

.solar-panels {
   background-image: url(../images/solar-panels.png);
}

.solar-panels p {
   padding: 50px;
   margin-top: -50px;
}

.solar-roof {
   background-image: url(../images/solar-roof.png);
}

.accessories {
   background-image: url(../images/accessories.png);
}

.footer {
   position: relative;
}

.footer ul {
   width: 100%;
   position: absolute;
   bottom: 0;
   background-color: #f8f8f8;
   justify-content: center;
   display: flex;
   align-items: center;
   padding: 1.5vw 0;
   column-gap: 30px;
}


.footer a:hover {
   color: #464647;
   text-decoration: underline;
}